@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
 html {
    min-height: 100%;
    position: relative;
 }

:root {
    /* --my_color: #428e9b; */
    --my_color: #3C424E;
    /* --my_color: #258b7d; */
  }
  /* color: var(--my_color) !important; */

  header {
    font-family: 'Poiret One', cursive;

   background-color: var(--my_color);
   height: 50px;
  }
  footer {
    background-color: var(--my_color) !important;
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  main {
    padding-bottom: 50px;
  }

  body {
    font-family: 'Poiret One', cursive;
    /* min-height: 100%; */
    /* position: relative; */
  }
  p {
    font-family: 'Poiret One', cursive;
    font-size: 18px !important;

  }


  h2,h4 {
    font-family: 'Poiret One', cursive;
  }

  a{
    color:rgb(0, 0, 0) !important;
    font-size: 18px !important;

  }

.header_link{
    color:rgb(255, 255, 255) !important;
  }
